body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr{
    width:500px;
}
#errors{
    color: coral;
}
#board{
    width: 450px;
    height: 450px;
    background-color:  rgb(241, 174, 225);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile{
    width: 48.5px;
    height: 48.5px;
    border: 1px solid rgb(159, 51, 143);
    /*text*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digits{
    width:450px;
    height: 50px;
    background-color: rgb(241, 174, 225);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.number{
    width: 44.5px;
    height: 44.5px;
    border: 1px solid black;
    margin: 2px;
    /*text*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-selected{
    background-color: grey;
}
.tile-start{
    background-color: rgb(216, 151, 202);
}
.horizontal-line{
    border-bottom: 1.4px solid black;

}
.vertical-line{
    border-right: 1.4px solid black;
}